<div class="content">
    <div class="content-inside">
        <div class="my-4">
            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a style="background-color: #088A08;color: white" class="nav-link active" id="home-tab"
                        data-toggle="tab" role="tab" aria-controls="home" aria-selected="false"><b>Registrar Notícia 
                          </b></a>
                </li>
            </ul>
        

  
                     
              
          
          
          <a href="javascript:history.back()" class="btn btn-info btn-xs">Voltar</a>
        

          
            <hr class="my-4" />


        </div>
    </div>
</div>

    