<div class="content">
   <div class="content-inside">
      <div class="my-4">
         <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
            <li class="nav-item">
               <a style="background-color: #5FB404;color: white" class="nav-link active" id="home-tab" data-toggle="tab"
                  role="tab" aria-controls="home" aria-selected="false"><b>Localizações -  
                   {if="totalMarkers() == 0"}
                          Nenhum Ponto de Entulho marcado no Mapa
                          {elseif="totalMarkers() == 1"}
                          {function="totalMarkers()"} Ponto de Entulho Marcado no Mapa
                          {else}
                          {function="totalMarkers()"} Pontos de Entulhos Marcados no Mapa
                          {/if}</b></a>
            </li>
         </ul>

         <div id="map"></div>

         <hr class="my-4" />

         <a href="javascript:history.back()" class="btn btn-info btn-xs">Voltar</a>


      </div>
   </div>
</div>
    <script src="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7/leaflet.js">
    </script>

    <script>
    

   var planes = [
      {loop="$markers"}["{$value.locality}","{$value.observation}",{$value.lat},{$value.lng}],{/loop}
      ];

        var map = L.map('map').setView([-16.027876751643, -48.041942848535], 13);
        mapLink = 
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            
            }).addTo(map);

       var muxiIconProperties = {
      iconUrl: "/res/map/marker.png"
    , iconSize: [44, 59]
    , iconAnchor: [22, 59]
    , popupAnchor: [0, -50]
    };

    var muxiIcon = L.icon(muxiIconProperties);

      for (var i = 0; i < planes.length; i++) {
         marker = new L.marker([planes[i][2],planes[i][3]],{icon: muxiIcon})
            .bindPopup("<b style='font-size:16px;'>"+planes[i][0]+"</b><br>"+planes[i][1]+"<b>Latitude:</b> "+planes[i][2]+"<br><b>Longitude:</b>"+planes[i][3])
            .addTo(map);

            
      }
               
    </script>

