<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pontos de Entulhos - ADM</title>
  <link href="/../res/admin/img/icon.png" rel="icon">
   <!--style--> 
  <link rel="stylesheet" href="/../res/admin/css/style.css">
  <!--font-awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

  <!--bootstrap-->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

  <!--magnific-popup-->
  <link rel="stylesheet" href="/../res/admin/css/magnific-popup.css">

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

</head>

<body>

  <input type="checkbox" id="check">
  <!--header area start-->
  <header>
    <label for="check">
      <i style="margin-top: -5px;" class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <div class="left_area">
      <h3 style="font-size: 18px;">Pontos de Entulhos - ADM</h3>
    </div>
    <div class="right_area">
      <a href="/admin/logout" class="logout_btn">Sair</a>
    </div>
  </header>
  <!--header area end-->

  <!--mobile navigation bar start-->
  <div class="mobile_nav">
    <div class="nav_bar">
     {if="$user.picture == 0 && $user.genre == 1"}
      <img src="/../res/ft_perfil/ft_male.png" class="mobile_profile_image" alt="">
      {elseif="$user.picture == 0 && $user.genre == 2"}
      <img src="/../res/ft_perfil/ft_female.png" class="mobile_profile_image" alt="">
      {elseif="$user.picture == 0 && $user.genre == 3"}
      <img src="/../res/ft_perfil/ft_unknown.png" class="mobile_profile_image" alt="">
      {else}
      <img src="/../res/ft_perfil/{$user.picture}" class="mobile_profile_image" alt="">
      {/if}
      <b style="font-size: 17px;color: white;">{function="getUserName()"}</b>
      <i class="fa fa-bars nav_btn"></i>
    </div>
    <div class="mobile_nav_items">
      <a href="/admin"><i class="fas fa-desktop"></i><span>Painel de Controle</span></a>
   <a href="/admin/informations"><i class="fas fa-info-circle"></i><span>Informações</span></a>
      <a href="/admin/users"><i class="fas fa-users"></i><span>Usuários</span></a>
      <a href="/admin/open-marker"><i class="fa fa-map-marker"></i><span>Marcar Ponto de Entulho</span></a>
       <a href="/admin/add-collect"><i class="fas fa-plus-circle"></i><span>Incluir Ponto de Coleta</span></a>
      <a href="/admin/locations"><i class="fas fa-map-marked"></i><span>Mapa com Pontos de Entulhos</span></a>
      <a href="/admin/locations-collects"><i class="fas fa-map-marked-alt"></i><span>Mapa com Pontos de Coleta</span></a>
      <a href="/admin/all-markers"><i class="fas fa-trash"></i><span>Pontos de Entulhos </span></a>
      <a href="/admin/all-collects"><i class="fas fa-recycle"></i><span>Pontos de Coletas</span></a>
      <a href="/admin/profile"><i class="fas fa-user"></i><span>Meu Perfil</span></a>
    </div>
  </div>
  <!--mobile navigation bar end-->

  <!--sidebar start-->
  <div class="sidebar">
    <div class="profile_info">
     {if="$user.picture == 0 && $user.genre == 1"}
      <img src="/../res/ft_perfil/ft_male.png" class="profile_image" alt="">
      {elseif="$user.picture == 0 && $user.genre == 2"}
      <img src="/../res/ft_perfil/ft_female.png" class="profile_image" alt="">
      {elseif="$user.picture == 0 && $user.genre == 3"}
      <img src="/../res/ft_perfil/ft_unknown.png" class="profile_image" alt="">
      {else}
      <img src="/../res/ft_perfil/{$user.picture}" class="profile_image" alt="">
      {/if}
      <h5 style="font-size: 18px;color: white;">{function="getUserName()"}</h5>
    </div>
   <a href="/admin"><i class="fas fa-desktop"></i><span>Painel de Controle</span></a>
   <a href="/admin/informations"><i class="fas fa-info-circle"></i><span>Informações</span></a>
      <a href="/admin/users"><i class="fas fa-users"></i><span>Usuários</span></a>
      <a href="/admin/open-marker"><i class="fa fa-map-marker"></i><span>Marcar Ponto de Entulho</span></a>
       <a href="/admin/add-collect"><i class="fas fa-plus-circle"></i><span>Incluir Ponto de Coleta</span></a>
      <a href="/admin/locations"><i class="fas fa-map-marked"></i><span>Mapa com Pontos de Entulhos</span></a>
      <a href="/admin/locations-collects"><i class="fas fa-map-marked-alt"></i><span>Mapa com Pontos de Coleta</span></a>
      <a href="/admin/all-markers"><i class="fas fa-trash"></i><span>Pontos de Entulhos </span></a>
      <a href="/admin/all-collects"><i class="fas fa-recycle"></i><span>Pontos de Coletas</span></a>
      <a href="/admin/profile"><i class="fas fa-user"></i><span>Meu Perfil</span></a>
  </div>
  <!--sidebar end-->

