<div class="content">
   <div class="content-inside">
      <div class="my-4">
         <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
            <li class="nav-item">
               <a style="background-color: #088A08;color: white" class="nav-link active" id="home-tab" data-toggle="tab"
                  role="tab" aria-controls="home" aria-selected="false"><b>Mapa com Pontos de Entulhos -  
                   {if="totalMarkers() == 0"}
                          Nenhum local Marcado
                          {elseif="totalMarkers() == 1"}
                          {function="totalMarkers()"} Local Marcado 
                          {else}
                          {function="totalMarkers()"} Locais Marcados 
                    {/if}</b></a>
            </li>
         </ul>

         <div id="map1"></div>

         <hr class="my-4" />

         <a href="javascript:history.back()" class="btn btn-info btn-xs">Voltar</a>


      </div>
   </div>
</div>
    <script src="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7/leaflet.js">
    </script>

    <script>
    

   var planes = [
      {loop="$markers"}["{$value.locality}",'{$value.observation}',{$value.lat},{$value.lng},{$value.idmarker}],{/loop}
      ];

        var map = L.map('map1').setView([-15.792873001853433,-47.882795333862305], 11);
        mapLink = 
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; Pontos de Entulhos - DF',
            
            }).addTo(map);

       var muxiIconProperties = {
      iconUrl: "/res/map/marker.png"
    , iconSize: [44, 59]
    , iconAnchor: [22, 59]
    , popupAnchor: [0, -50]
    };

    var muxiIcon = L.icon(muxiIconProperties);

      for (var i = 0; i < planes.length; i++) {
         marker = new L.marker([planes[i][2],planes[i][3]],{icon: muxiIcon})
            .bindPopup("<b style='font-size:16px;'>"+planes[i][0]+"</b><br>"+planes[i][1]+"<b>Latitude:</b> "+planes[i][2]+"<br><b>Longitude:</b>"+planes[i][3]+"<center><br><a href='/admin/markers/images/"+planes[i][4]+"'' style='width: 100px;color:white;'' class='btn btn-info btn-sm' ><b> Ver Fotos</b></a>")
            .addTo(map);

            
      }
               
    </script>

