
<div class="content">
    <div class="content-inside">
        <div class="my-4">
            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a style="background-color: #088A08;color: white" class="nav-link active" id="home-tab"
                        data-toggle="tab" role="tab" aria-controls="home" aria-selected="false"><b>
                          {if="totalCallProgress() == 0"}
                          Nenhum Chamado em Andamento
                          {elseif="totalCallProgress() == 1"}
                          {function="totalCallProgress()"} Chamado em Andamento
                          {else}
                          {function="totalCallProgress()"} Chamados em Andamento 
                          {/if} 
                          <b></a>
                </li>
            </ul>

            {if="totalCallProgress() != 0"}
             <div class="table-responsive">
            <table class="table table-hover  table-bordered">
                <thead style="background-color: #D8D8D8">
                  <tr style="font-size: 16px; font-weight: bold; " >
                    
                    <th  ><center>Código<b></th>
                    <th  ><center>Foto<b></th>
                    <th  ><center>Nome<b></th>
                    <th  ><center>Local<b></th>
                    <th ><center>Observação</th>
                    <th><center>Mapa</th>
                    <th><center>Fotos</th>
                  
                    <th><center>Situação</th>
                    <th><center>Data de Registro</th>
                    <th><center>Excluir</th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$callProgress"}
                  <tr style="font-size: 15px;font-weight: normal;">
                    <td><br><center>{$value.idcall}</td>
                    <td><br><center> 
                      {if="$value.picture == 0 && $value.genre == 1"}
                      <img src="/res/ft_perfil/ft_male.png" style="height: 50px;width: 50px;border-radius: 30px;">
                      {elseif="$value.picture == 0 && $value.genre == 2"}
                      <img src="/res/ft_perfil/ft_female.png" style="height: 50px;width: 50px;border-radius: 30px;">
                      {elseif="$value.picture == 0 && $value.genre == 3"}
                      <img src="/res/ft_perfil/ft_unknowm.png" style="height: 50px;width: 50px;border-radius: 30px;">
                      {else}
                      <img src="/res/ft_perfil/{$value.picture}" style="height: 50px;width: 50px;border-radius: 30px;">
                      {/if}
                    </td>
                    <td><br><center>{$value.person}</td>
                    <td><br><center>{$value.locality}</td>
                    <td><br><center>{$value.observation}</td>
                    <td><br><center><a href="/admin/calls/maps/{$value.idcall}"  class="btn btn-info btn-sm"><b>Localização</b></a></td/>
                    <td><br><center>   <a href="/admin/calls/images/{$value.idcall}"  style="width: 100px;" class="btn btn-info btn-sm" >{if="numPhotos($value.idcall) == 1"}
                      <b>{function="numPhotos($value.idcall)"} Foto</b></a>
                      {else}
                      <b>{function="numPhotos($value.idcall)"} Fotos</b></a>
                      {/if}
                   </td/>
                  
                    <td><br><center>
                      {if="$value.situation == 1"}
                         
                          <a style="width: 80px;" href="/admin/call-situation/{$value.idcall}" onclick="return confirm('Deseja alterar a situação do chamado {$value.idcall}?')" type="button" class="btn btn-outline-danger btn-sm ">Pendente</a></td>
                      {elseif="$value.situation == 2"}
                         
                            <a style="width: 120px;color: #585858"  href="/admin/call-situation/{$value.idcall}" onclick="return confirm('Deseja alterar a situação do chamado {$value.idcall}?')" type="button" class="btn btn-outline-warning btn-sm ">Em andamento</a></td>
                      {else}
                          <a style="width: 80px;"  href="/admin/call-situation/{$value.idcall}" onclick="return confirm('Deseja alterar a situação do chamado {$value.idcall}?')" type="button" class="btn btn-outline-success btn-sm ">Finalizado</a>
                         
                      {/if}
                    </td>
                    <td><br><center>{function="formatDate($value.dtregister)"}</td>
                    <td><br><center> <a style="width: 80px;" href="/admin/calls/delete/{$value.idcall}"  onclick="return confirm('Deseja realmente excluir o chamado {$value.idcall}?')" class="btn btn-danger btn-sm"> Excluir</a></td>
                                     
                  </tr>                 
                {/loop}
                </tbody>
              </table>
          </div>

            <hr class="my-4" />
          {/if}
            <a href="javascript:history.back()" class="btn btn-info btn-xs">Voltar</a>

        </div>
    </div>
</div>



      